[submodule "SharedModules"]
	path = SharedModules
	url = https://github.com/cbuche/SharedModules
[submodule "MediaServiceCore"]
	path = MediaServiceCore
	url = https://github.com/cbuche/MediaServiceCore
